img {
  width: 100%;
}

:root {
  --color_1: rgb(23, 162, 184);
  --color_2: #0dcaf0; /*color: 'var(--color_1)'*/
  --color_3: #acd9de;
}

.active {
  color: #ff0000; /* Your desired active link color */
  font-weight: bold;
  /* font-size: 110%; */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: 'column';
  font-size: 1.1rem;
  @media (max-width: 768px) {
    font-size: 1rem; /* Adjust the font size for mobile devices */
  }
}

@media (max-width: 767px) {
  .col-md-12.content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-md-6 {
    width: 100%; 
    font-size: 140%;
    margin-bottom: 1.5rem; 
  }
}

.formContrib {
  width: 90%;
  font-size: 120%;
  margin: auto auto;
  text-align: center;
  @media (max-width: 768px) {
    width: 90%;
    font-size: 100%;
  }
}

.nav_div{
  margin: auto auto; 
  @media (max-width: 768px) {
    margin-left: 5%;
  }

}

.container{
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  width: 100%;  
}

.landing {
  background-color: rgb(249, 249, 249);
  position: relative;
  /* background: url("./img/landscape.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-top: -24px;
  padding-bottom: 10px;
  /* opacity: 0.4;    */
}

#userPost {
  background-color: #acd9de;
}

.landing-inner {
  padding-top: 40px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

/*Stats table*/

.styled-table {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 120%;
  text-align: left;
  border-radius: 8px;
  /* overflow: hidden; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  @media (max-width: 768px) {
    width: 100%;
    font-size: 90%;
  }
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table th {
  background-color: var(--color_2);
  opacity: 1; 
  color: white;
}

/* .styled-table tbody tr {
  transition: all 0.3s;
} */

.styled-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

